<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "stylesheet", href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Rahul. It uses data from weatherstack and mapbox api.</p>
            <img class="potrait" src="/img/robot.jpg">
        </div>
        {{>footer}}
    </body>
</html> 